{% extends "base.html" %}

{% block title %}Book Store{% endblock title %}


{% block content %}
<section>
	<h1 class="h1">Libros en Book Store</h1>
	<div class="container-section">
		<article>
			<img class="img-fluid" src="https://picsum.photos/id/237/200/300">
			<p class="book-type">Digital o Papel</p>
			<a href="#" class="book-name"><p>Nombre del libro</p></a>
			<p class="book-author">Nombre del autor</p>
			<p class="book-price">$ 199</p>
			<a href="#" class="btn-add-cart">Añadir a carrito</a>
		</article>
	</div>
</section>	
{% endblock content %}